# Virtual environment
venv/

# Environment variables
.env

# IDE-specific files (optional, but recommended)
.vscode/
.idea/

# Python cache files
.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.pyd


security_report.html