<!--
This is the 404 error page template for Blueprint Plaza.
It displays a simple "Page Not Found" message with a link to return to the home page.
The template uses Flask's url_for() function to generate the correct URL for the home page.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <main>
        <div class="ad-detail">
            <h1>It seems the page you are looking for does not exist.</h1>
            <p class="ad-description">Sorry, the page you are looking for doesn't exist.</p>
            <a href="{{ url_for('home') }}" class="return-home-button">Go back to home</a>
        </div>
    </main>
</body>
